<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>BLTIToolProvider</servlet-name>
		<servlet-class>org.imsglobal.blti.BLTIToolProviderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BLTIToolProvider</servlet-name>
		<url-pattern>/launch</url-pattern>
		<url-pattern>/launch/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BLTIDemoHomeServlet</servlet-name>
		<servlet-class>org.imsglobal.blti.BLTIDemoHomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BLTIDemoHomeServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
