<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <title>
      {% block title %}IMS BLTI Sample Python Application{% endblock %}
   </title>
   <link href="/static/glike.css" rel="stylesheet"
         type="text/css" />
 </head>
 <body>
   <div id="header">
      <h1><a href="/">IMS BLTI Sample Application</a></h1>
      <ul>
        <li><a href="/request"
              {% ifequal handler.request.path '/request' %}
                    class="selected"
              {% endifequal %}
             >Request Key</a></li>
        <li>Admin Only: <a href="/ltiadmin"
              {% ifequal handler.request.path '/ltiadmin' %}
                    class="selected"
              {% endifequal %}
             >Key Store</a></li>
        <li><a href=" /_ah/admin" target="_new">Dev Console</a></li>
      </ul>
   </div>
   <div id="bodycontent">
      {% block bodycontent %}
           Replace this
      {% endblock %}
   </div>
 </body>
</html>
